@charset "UTF-8";

/* 回答はここに書いてね */

.container {
  padding: 20px;
  background-color: #ecf1f2;
}

.item_row {
  font-size: 0;
  margin-bottom: 20px;
}

.item_row:last-child {
  margin-bottom: 0;
}

.cell {
  font-size: 16px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #fff;
}

.item_box12 {
  width: 100%;
}

.item_box6 {
  width: 50%;
  padding: 0 10px;
  display: inline-block;
  box-sizing: border-box;
}

.item_box4 {
  width: 33.333%;
  padding: 0 10px;
  display: inline-block;
  box-sizing: border-box;
}

.item_box3 {
  width: 25%;
  padding: 0 10px;
  display: inline-block;
  box-sizing: border-box;
}

.item_box24 {
  width: 20%;
  padding: 0 10px;
  display: inline-block;
  box-sizing: border-box;
}

.item_box2 {
  width: 16.666%;
  padding: 0 10px;
  display: inline-block;
  box-sizing: border-box;
}

.item_box633 {
  padding: 0 10px;
  display: inline-block;
  box-sizing: border-box;
}

.item_box633_6 {
  width: 50%;
}

.item_box633_3 {
  width: 25%;
}

.item_box2244 {
  padding: 0 10px;
  display: inline-block;
  box-sizing: border-box;
}

.item_box2244_2 {
  width: 16.666%;
}

.item_box2244_4 {
  width: 33.333%;
}

/* ul下の最初, 最後の子要素liに適用 */
ul > li:first-child {
  padding-left: 0;
}

ul > li:last-child {
  padding-right: 0;
}

/* 回答はここに書いてね */
