@charset "UTF-8";

/* 回答はここに書いてね */

.boxA {
  position: relative;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: solid 5px #222;
  font-size: 16px;
  line-height: 16px;
  border-radius: 30px;
}

.boxA::before,
.boxA::after {
  position: absolute;
  content: "";
}

/* 外枠:黒 */
.boxA::before {
  bottom: -25px;
  left: 28px;
  border-top: solid 22px #222;
  border-right: solid 22px transparent;
  border-left: solid 22px transparent;
}

 /* 白抜き */
.boxA::after {
  bottom: -18px;
  left: 30px;
  border-top: solid 20px #fff;
  border-right: solid 20px transparent;
  border-left: solid 20px transparent;
}

/* 回答はここに書いてね */
